body {
    background-color: rgb(248, 251, 254);
    font-family: "Avenir", "Century Gothic", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.helvetica {
    font-family: 'Helvetica', sans-serif;
    color: #212353;
}
a:link {
    text-decoration: none;
    color: #4B5D68;
}
a:visited {
    color: #4B5D68;
}
.margins {
    margin: 0 auto;
    width: 70vw;
}
header {
    width: calc(100vw - 480px);
    height: 140px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo-nav {
    width: 492px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: row;
    gap: 9px;
    align-items: baseline;
}
.nav li {
    list-style-type: none;
    display: inline;
    margin-left: 40px;
    font-size: 16px;
    line-height: 25.6px;
}
.Request-Demo {
    width: 210px;
    height: 60px;
    border-radius: 50px;
    font-weight: 800;
    font-size: 16px;
    color: #212353;
    background-color: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.polygon_1 {
    position: absolute;
    padding-left: 18px;
}
.opening {
    width: 1248px;
    height: calc(100vh - 140px);
    margin: 0px 112px 0px 240px;
    display: flex;
    flex-direction: row;
    background-image: url(image1.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 885px 468px;
}
.opening .opening-left {
    height: 464px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.opening .opening-left .header {
    width: 40vw;
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
}
.opening .opening-left .aboutText {
    width: 380px; 
}
.learn-more {
    width: 170px;
    height: 60px;
    color: #FFFFFF;
    font-weight: 800;
    background-color: #9C69E2;
    border: none;
    border-radius: 50px;
}
.about {
    width: 1120px;
    background-color: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    margin-bottom: 149.82px;
}
.helvetica-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}
.image2 {
    width: 477px;
    height: 504px;
    padding: 31.82px 0px 24.18px 11px;
}
.about-header {
    padding: 125px 92px 40px 62px;
}
.about-p {
    padding: 0px 93px 125px 62px;
}
.features .features-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 100px;
}
.features .features-titles .features-lead {
    width: 584px;
    text-align: center;
}
.features-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features-box {
    width: 34vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 29.29px;
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}
.search-data {
    background-image: url("Rectangle39.png");
}
.hours-access {
    background-image: url("Rectangle2.png");
}
.print-out {
    background-image: url("Rectangle3.png");
}
.security-code {
    background-image: url("Rectangle4.png");
}
.image3 {
    width: 232px;
    height: 211px;
}
.image4 {
    width: 241px;
    height: 188.49px;
}
.image5 {
    width: 245px;
    height: 181px;
}
.image6 {
    width: 230px;
    height: 201px;
}
.features-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 138%;
    padding: 49px 70px 20px 0px;
}
.features-para {
    width: 220px;
    height: 160px;
    font-weight: 400;
    font-size: 16px;
    margin: 0px 50px 20px 0px;
}
.features-learn-more {
    border: none;
    background-color: transparent;
    padding: 20px 0px 30px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.features-learn-more-para {
    font-weight: 800;
    font-size: 16px;
    color: #212353;
}
.testimonials {
    width: calc(100vw - 480px);
    height: 709px;
    background-color: #9C69E2;
    border-radius: 50px;
    margin: 98px 240px 152px 240px;
    padding-left: 94px;
}
.testimonials-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 111px 0px 88px 94px;
}
.testimonials-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
}
.testimonials-box {
    width: 560px;
    height: 330px;
    border: 1px solid #9C69E2;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    margin-bottom: 63px;
}
.testimonals-image {
    width: 90px;
    height: 90px;
    margin: 60px 0px 0px 70px;
}
.name {
    font-weight: 900;
    line-height: 28.8px;
    color: #212353;
    margin-top: 80px;
}
.job {
    font-size: 14px;
    color: #9C69E2;
}
.testimonial {
    width: 300px;
    font-weight: 400;
    line-height: 180%;
    margin: 0px 70px 50px 0px;
}
.browsing {
    width: calc(100vw - 480px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dots {
    display: flex;
    align-items: center;
    gap: 10px;
}
.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.arrow-left {
    width: 40px;
}
.arrow-right {
    width: 20px;
}
hr {
    height: 2px;
    background-color: #9C69E2;
    border: none;
    margin-bottom: 100px;
}
.try-for-free {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 153px;
}
.try-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    margin-bottom: 20px;
}
.try-buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.try-buttons .learn-more {
    background-color: #F063B8;
}
.links {
    color: #212353;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 93px;
}
.first-row {
    padding-bottom: 67px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.company-name {
    font-weight: 900;
    font-size: 20px;
}
.adress {
    font-size: 16px;
    padding-bottom: 10px;
}
.info {
    font-weight: 400;
    font-size: 16px;
}
.links-titles {
    font-weight: 900;
    font-size: 16px;
    margin-bottom: 30px;
}
.social-media {
    display: flex;
    flex-direction: row;
    gap: 14px;
}
.circle {
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: rgb(233, 233, 238);
    border-radius: 50%;
    text-align: center;
}
.fb {
    margin-top: 15px;
}
.twitter {
    margin-top: 17px;
}
.footer {
    display: flex;
    justify-content: space-between;
}
.credits {
    font-weight: 400;
    font-size: 12px;
    color: #212353;
}
.chat {
    width: 60px;
    aspect-ratio: 1 /1;
    background-color: rgb(235, 225, 249);
}
.chat-icon {
    
}